<header>
  <h1><a href="/">DR Crowther WebD Portfolio</a></h1>
  <hgroup class="row-fluid">
      <div class="img-wrapper">
        <img class="header-photo" src="/img/wasatch-mountain-state-park-woods.jpg" alt="" width="1200" height="100" />
      </div>
  </hgroup>
</header>

