node_modules/
reports/
components/
dist/
**/*{.,-}min.js
LICENSE
Procfile
*.md
package.json
package-lock.json
yarn.lock
build/
config-overrides.js
public/
**/*.json
src/assets/
src/__mocks__/
x-tag-components.js

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.ico

# Ignore CSS files
*.css

# Ignore JSON files in content folder
src/content/*.json

# Ignore built files
build/