  <section class="container-fluid">
    <h2>About David Richard Crowther</h2>
    <p>Hello. Below is some information about David Crowther. Links from this page show examples of his work.</p>

    <h3>Who am I?</h3>
    <p>My name: David Richard Crowther</p>
    <div class="img-wrapper right">
      <img class="header-photo" src="/img/casual-me.jpg" alt="" width="300" />
    </div>
    <p>My occupation: Web design and development since 1998.</p>
    <p>My background: I was a teenager in the 80's and enjoyed lots of awesome music and watched computers grow up.</p>
    <p>More about me</p>
    <ul>
      <li>I am a Utah State University masters student of Learning Technology and Instructional Design planning to graduate in Spring 2017.</li>
      <li>My family and I live in Lehi, Utah.</li>
      <li>I started this portfolio to show examples of my work in the ITLS6230, Beginning Photoshop ​& Graphic Design course.</li>
      <li>I am a web developer for FamilySearch.org.</li>
      <li>I enjoy learning about most subjects, especially religious topics, technology, and history.</li>
      <li>I also like being in the outdoors; nothing extreme, just leisurely outdoor activities with family and friends. I like building things physically or virtually.​</li>
    </ul>
  </section>
  <section class="container-fluid">
    <h2>About this site.</h2>
    <p>This site is built with semantic HTML. Feel free to inspect the page to see HTML5 tags in use and HTML tags used for their intended purpose.</p>
  </section>
  <section class="container-fluid">
    <h2>HTML/CSS examples</h2>
    <ul>
      <li>
        <a href="/html-css/examples">Production Examples</a>
      </li>
      <li>
        <a href="/html-css/form-example">HTML5 Form Example</a>
      </li>
      <li>
        <a href="/html-css/srcset-svg">SRCSET & SVG Examples</a>
      </li>
      <li>
        <a href="/html-css/device-access">Device Access Examples</a>
      </li>
    </ul>
  </section>
  <section class="container-fluid">
    <h2>JavaScript examples</h2>
    <ul>
      <li>
        <a href="/javascript/examples">JavaScript Examples</a>
      </li>
    </ul>
  </section>

<%- contentFor('pageName') %>
Home

<%- contentFor('homePageActive') %>
active
