<!DOCTYPE html>
<html>
<head>
  <title><%- pageName %> | DR Crowther WebD Portfolio</title>
  <!-- IE 8 Compatibility for HTML5 -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="img/favicon.ico" async>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" async/>
  <link rel="stylesheet" href="/css/portfolio.css" async/>
  <style>
    /* apply a dashed border to all unresolved elements */
    .portfolio-app.wcExamples :unresolved:not(.done) {
      background-color: red;
      display: block;
      height: 100px;
      width: 100px;
    }
  </style>
</head>
<body class="portfolio-app <%- pageName %>">
  <div class="container-fluid">
  <% include partials/header %>
  <% include partials/menu %>
    <div class="row">
      <div class="col-md-10">
  <%-body%>
      </div>
    </div>
  <% include partials/footer %>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="/js/x-tag-components.js" async></script><!-- from http://x-tag.github.io/js/x-tag-components.js -->
  <script src="/js/portfolio.js" async></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
  </body>
</html>