<!DOCTYPE html>
<html>
<head>
  <title><%- pageName %> | DR Crowther WebD Portfolio</title>
  <!-- IE 8 Compatibility for HTML5 -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/portfolio.css"/>
</head>
<body class="portfolio-app <%- pageName %>">
  <div class="container-fluid">
  <% include partials/header %>
  <% include partials/menu %>
    <div class="row">
      <div class="col-md-10">
  <%-body%>
      </div>
    </div>
  <% include partials/footer %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>