  <section class="container-fluid main-content">
    <h2>JavaScript Examples</h2>
    <ul class="bulleted">
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#liveAndLearnCodeEditor" aria-expanded="false" aria-controls="liveAndLearnCodeEditor">CSS Animations</a></h3>
        <div class="collapse in" id="liveAndLearnCodeEditor">
          <div class="well">
            <a href="https://github.com/live-and-learn/learn-web-components" target="demo_window">Web Components lesson presenter</a> and <a href="https://rawgit.com/live-and-learn/learn-web-components/master/index.html?whichLesson=lesson-1" target="demo_window">code editor.</a>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#codewarsKatas" aria-expanded="false" aria-controls="codewarsKatas">Codewars completed katas</a></h3>
        <div class="collapse" id="codewarsKatas">
          <div class="well">
            <p><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Screenshot of my Codewars profile.</button>
            <p><a href="../documents/codewars.zip">Zip file of my completed code challenges (katas).</a></p>
            <ul class="bulleted">
              <li>001-openOrSenior.js</li>
              <li>002-insertDashII.js</li>
              <li>003-obfuscate.js</li>
              <li>004-buildOneTwoThree.js</li>
              <li>005-longest.js</li>
              <li>006-calculate.js</li>
              <li>007-toCurrency.js</li>
              <li>008-tribonacci.js</li>
              <li>009-likes.js</li>
              <li>010-decodeMorse.js</li>
              <li>011-palindrome.js</li>
              <li>012-diamond.js</li>
              <li>013-autocorrect.js</li>
              <li>014-tickets.js</li>
              <li>015-online.js</li>
              <li>016-knapsack.js</li>
              <li>017-bowlingScore.js</li>
              <li>018-variance.js</li>
              <li>019-undoRedo.js</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Codewars Profile</h4>
        </div>
        <div class="modal-body">
          <p><img src="../img/javascript/crowtherdr-codewars-profile.jpg" width="570"></p>
        </div>
      </div>

    </div>
  </div>


<%- contentFor('pageName') %>
jsExamples

<%- contentFor('jsExamples') %>
active
