  <section class="container-fluid">
    <h2>JavaScript Examples</h2>
    <ul class="bulleted">
      <li>
        <a href="https://github.com/live-and-learn/learn-web-components" target="demo_window">Web Components lesson presenter</a> and <a href="https://rawgit.com/live-and-learn/learn-web-components/master/index.html?whichLesson=lesson-1" target="demo_window">code editor.</a>
      </li>
    </ul>
  </section>

<%- contentFor('pageName') %>
jsExamples
