  <section class="container-fluid">
    <h2>HTML/CSS Examples (all are examples of semantic HTML5)</h2>
    <ul class="bulleted">
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/about/?locale=en" target="demo_window">About FamilySearch</a> (responsive design)
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/donations/?locale=en" target="demo_window">Donate Today</a>
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/familysearch-conference-in-a-box/?locale=en" target="demo_window">Conference in a Box (Bootstrap form)</a> (responsive design)
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/us-immigration-naturalization/?locale=en" target="demo_window">US Immigration and Naturalization (microsite)</a>
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/italian-ancestors/?locale=en" target="demo_window">Italian Ancestors (microsite)</a>
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/myfamily/?locale=en" target="demo_window">My Family</a> (responsive design)
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/paf/?locale=en" target="demo_window">Personal Ancestral File</a> (responsive design)
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/records-mission/?locale=en" target="demo_window">Records Preservation Mission Opportunities</a>
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/terms/?locale=en" target="demo_window">Terms of Use</a>
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/volunteer/?locale=en" target="demo_window">Volunteer</a> (responsive design)
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/volunteer/indexing/?locale=en" target="demo_window">Indexing</a> (responsive design)
      </li>
      <li>
        <a href="https://fs-landing-crowtherdr.herokuapp.com/whats-new/?locale=en" target="demo_window">What's New</a> (responsive design)
      </li>
    </ul>
    <p>Note: The responsive design examples use the "em" measurement unit. Now we prefer to use the "rem" (at least for font measurements) with a base size for the html tag.</p>
  </section>

<%- contentFor('pageName') %>
htmlExamples

<%- contentFor('htmlExamples') %>
active
