  <section class="container-fluid">
    <h2>CSS3 "Stable" Examples</h2>
    <p>My examples of my <a href="/html-css/examples">HTML/CSS production pages</a> include many CSS "Stable" examples. Below are examples of "Stable" CSS that are not in those examples.</p>
    <ul class="bulleted">
      <li>
        <h3><a href="#" data-toggle="collapse" data-target="#backgroundsAndBorders" aria-expanded="false" aria-controls="backgroundsAndBorders">Backgrounds and Borders Level 3</a></h3>
        <div class="collapse in" id="backgroundsAndBorders">
          <div class="well">
            <ul class="linear-gradient">
              <h4>Background: Linear gradient</h4>
              <li>
                <span class="top-to-bottom">
                  <p>Top to bottom</p>
                </span>
                <span class="left-to-right">
                  <p>Left to right</p>
                </span>
                <span class="diagonal-to-right">
                  <p>Diagonal to right</p>
                </span>
                <span class="angle">
                  <p>25 degree angle</p>
                </span>
                <span class="multiple-stops">
                  <p>Multiple color stops</p>
                </span>
              </li>
            </ul>
            <ul class="border-example">
              <h4>Background: Borders</h4>
              <li>
                <span class="rounded-corners-color">
                  <p>Rounded corners with background color</p>
                </span>
                <span class="oval">
                  <p>Empty oval</p>
                </span>
                <span class="circle">
                  <p>Circle with image</p>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="#" data-toggle="collapse" data-target="#conditionalRules" aria-expanded="false" aria-controls="conditionalRules">Conditional Rules Level 3</a></h3>
        <div class="collapse" id="conditionalRules">
          <div class="well">
            ...
          </div>
        </div>
      </li>
      <li>
        <h3><a href="#" data-toggle="collapse" data-target="#multiColumnLayout" aria-expanded="false" aria-controls="multiColumnLayout">Multi-column Layout</a></h3>
        <div class="collapse" id="multiColumnLayout">
          <div class="well">
            ...
          </div>
        </div>
      </li>
      <li>
        <h3><a href="#" data-toggle="collapse" data-target="#valuesAndUnits" aria-expanded="false" aria-controls="valuesAndUnits">Values and Units Level 3</a></h3>
        <div class="collapse" id="valuesAndUnits">
          <div class="well">
            ...
          </div>
        </div>
      </li>
      <li>
        <h3><a href="#" data-toggle="collapse" data-target="#cascadingAndInheritance" aria-expanded="false" aria-controls="cascadingAndInheritance">Cascading and Inheritance Level 3</a></h3>
        <div class="collapse" id="cascadingAndInheritance">
          <div class="well">
            ...
          </div>
        </div>
      </li>
    </ul>
  </section>

<%- contentFor('pageName') %>
cssStableExamples

<%- contentFor('cssStableExamples') %>
active
