  <section class="container-fluid main-content">
    <h2>CSS3 "Exploring" Examples</h2>
    <p>Below are examples of "Exploring" CSS (from <a href="https://www.w3.org/Style/CSS/current-work" target="demo_window">https://www.w3.org/Style/CSS/current-work</a>).</p>
    <ul class="bulleted">
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssExploringNotImplemented" aria-expanded="false" aria-controls="cssExploringNotImplemented">Explored only</a></h3>
        <div class="collapse" id="cssExploringNotImplemented">
          <div class="well">
            <p>These are features in this category that I explored, but found out that they are not implemented in any or only a few browsers.</p>
            <ul>
              <li>Device Adaptation: Involves the use of the @viewport rule to help with browser size responsiveness: limited to very few mobile browsers. See <a href="https://www.w3.org/TR/css-device-adapt-1/" target="demo_window">https://www.w3.org/TR/css-device-adapt-1/</a></li>
              <li>Exclusions: Has "wrap-flow" and "wrap-through" rules to control the flow of text around or through other elements. See <a href="https://www.w3.org/TR/css3-exclusions/" target="demo_window">https://www.w3.org/TR/css3-exclusions/</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#Filter Effects" aria-expanded="false" aria-controls="Filter Effects">Filter Effects</a></h3>
        <div class="collapse" id="Filter Effects">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssGeneratedContentPagedMedia" aria-expanded="false" aria-controls="cssGeneratedContentPagedMedia">CSS Generated Content for Paged Media</a></h3>
        <div class="collapse" id="cssGeneratedContentPagedMedia">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssPageFloats" aria-expanded="false" aria-controls="cssPageFloats">CSS Page Floats</a></h3>
        <div class="collapse" id="cssPageFloats">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssLineGrid" aria-expanded="false" aria-controls="cssLineGrid">CSS Line Grid</a></h3>
        <div class="collapse" id="cssLineGrid">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssListsLevel3" aria-expanded="false" aria-controls="cssListsLevel3">CSS Lists Level 3</a></h3>
        <div class="collapse" id="cssListsLevel3">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssPositionedLayoutLevel3" aria-expanded="false" aria-controls="cssPositionedLayoutLevel3">CSS Positioned Layout Level 3</a></h3>
        <div class="collapse" id="cssPositionedLayoutLevel3">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssRegions" aria-expanded="false" aria-controls="cssRegions">CSS Regions</a></h3>
        <div class="collapse" id="cssRegions">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#nonElementSelectors" aria-expanded="false" aria-controls="nonElementSelectors">Non-element Selectors</a></h3>
        <div class="collapse" id="nonElementSelectors">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssInlineLayoutModuleLevel3" aria-expanded="false" aria-controls="cssInlineLayoutModuleLevel3">CSS Inline Layout Module Level 3</a></h3>
        <div class="collapse" id="cssInlineLayoutModuleLevel3">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#motionPathModuleLevel1" aria-expanded="false" aria-controls="motionPathModuleLevel1">Motion Path Module Level 1</a></h3>
        <div class="collapse" id="motionPathModuleLevel1">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssTextModuleLevel4" aria-expanded="false" aria-controls="cssTextModuleLevel4">CSS Text Module Level 4</a></h3>
        <div class="collapse" id="cssTextModuleLevel4">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssPaintingApiLevel1" aria-expanded="false" aria-controls="cssPaintingApiLevel1">CSS Painting API Level 1</a></h3>
        <div class="collapse" id="cssPaintingApiLevel1">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssPropertiesValuesApiLevel1" aria-expanded="false" aria-controls="cssPropertiesValuesApiLevel1">CSS Properties and Values API Level 1</a></h3>
        <div class="collapse" id="cssPropertiesValuesApiLevel1">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssColorModuleLevel4" aria-expanded="false" aria-controls="cssColorModuleLevel4">CSS Color Module Level 4</a></h3>
        <div class="collapse" id="cssColorModuleLevel4">
          <div class="well">
          </div>
        </div>
      </li>
    </ul>
  </section>

<%- contentFor('pageName') %>
cssExploringExamples

<%- contentFor('cssExploringExamples') %>
active
