  <section class="container-fluid main-content">
    <h2>CSS3 "Exploring" Examples</h2>
    <p>Below are examples of "Exploring" CSS (from <a href="https://www.w3.org/Style/CSS/current-work" target="demo_window">https://www.w3.org/Style/CSS/current-work</a>).</p>
    <ul class="bulleted">
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssExploringNotImplemented" aria-expanded="false" aria-controls="cssExploringNotImplemented">Explored only (no examples)</a></h3>
        <div class="collapse" id="cssExploringNotImplemented">
          <div class="well">
            <p>These are features in this category that I explored, but found out that they are not implemented in any or only a few browsers.</p>
            <ul class="bulleted">
              <li>Device Adaptation: Involves the use of the @viewport rule to help with browser size responsiveness: limited to very few mobile browsers. See <a href="https://www.w3.org/TR/css-device-adapt-1/" target="demo_window">https://www.w3.org/TR/css-device-adapt-1/</a></li>
              <li>Exclusions: Has "wrap-flow" and "wrap-through" rules to control the flow of text around or through other elements. See <a href="https://www.w3.org/TR/css3-exclusions/" target="demo_window">https://www.w3.org/TR/css3-exclusions/</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="filter-effects">
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssFilterEffects" aria-expanded="false" aria-controls="cssFilterEffects">Filter Effects</a></h3>
        <div class="collapse in" id="cssFilterEffects">
          <div class="well">
            <p>Hurray! Finally, one of the features in the "Exploring" list that has good browser support. Below are examples of some of the image filters that are possible.</p>
            <ul class="bulleted">
              <li>
                <p><img src="/img/html-css/oscar-in-dress-100px.jpg" /> original</p>
              </li>
              <li class="grayscale">
                <p><img src="/img/html-css/oscar-in-dress-100px.jpg" /> 100% grayscale</p>
              </li>
              <li class="grayscale-50">
                <p><img src="/img/html-css/oscar-in-dress-100px.jpg" /> 50% grayscale</p>
              </li>
              <li class="blur">
                <p><img src="/img/html-css/oscar-in-dress-100px.jpg" /> 2px blur (doesn't take much to blur)</p>
              </li>
              <li class="invert">
                <p><img src="/img/html-css/oscar-in-dress-100px.jpg" /> 100% invert</p>
              </li>
              <li class="sepia">
                <p><img src="/img/html-css/oscar-in-dress-100px.jpg" /> 100% sepia</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="generated-content">
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssGeneratedContentPagedMedia" aria-expanded="false" aria-controls="cssGeneratedContentPagedMedia">CSS Generated Content for Paged Media</a></h3>
        <div class="collapse" id="cssGeneratedContentPagedMedia">
          <div class="well">
            <p>The numbers in the list before are generated using the "counter-increment" rule along with the ":before" pseudo class. The "counter-reset" rule sets up a scope for the variable.</p>
            <ol class="examples">
              <li><p>Each of these.</p></li>
              <li><p>Is prefixed</p></li>
              <li><p>With a generated</p></li>
              <li><p>"Example" and number.</p></li>
            </ol>
          </div>
        </div>
      </li>
      <li class="page-floats">
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssPageFloats" aria-expanded="false" aria-controls="cssPageFloats">CSS Page Floats</a></h3>
        <div class="collapse" id="cssPageFloats">
          <div class="well">
            <p>Below are examples of the new "float" rule values "inline-start" and "inline-end". You will need to view the examples in <a href="https://www.mozilla.org/en-US/firefox/developer/" target="demo_window">Firefox Developer Edition</a>.</p>
            <p>Which element appears on the left or the right with "inline-start" or "inline-end" depends on the direction specified for the text.</p>
            <p>With "float: left;", the element would always be floated left. With "float: inline-start;" the element will be on the left if the text direction is left to right or on the right is the text direction is right to left.</p>
            <ul class="ltr" dir="ltr">
              <li>
                <p>This is the 1st element.</p>
              </li>
              <li>
                <p>This is the 2nd element.</p>
              </li>
              <li>
                <p>This is the 3rd element.</p>
              </li>
            </ul>
            <ul class="rtr" dir="rtl">
              <li>
                <p>This is the 1st element.</p>
              </li>
              <li>
                <p>This is the 2nd element.</p>
              </li>
              <li>
                <p>This is the 3rd element.</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssLineGrid" aria-expanded="false" aria-controls="cssLineGrid">CSS Line Grid</a></h3>
        <div class="collapse" id="cssLineGrid">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssListsLevel3" aria-expanded="false" aria-controls="cssListsLevel3">CSS Lists Level 3</a></h3>
        <div class="collapse" id="cssListsLevel3">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssPositionedLayoutLevel3" aria-expanded="false" aria-controls="cssPositionedLayoutLevel3">CSS Positioned Layout Level 3</a></h3>
        <div class="collapse" id="cssPositionedLayoutLevel3">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssRegions" aria-expanded="false" aria-controls="cssRegions">CSS Regions</a></h3>
        <div class="collapse" id="cssRegions">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#nonElementSelectors" aria-expanded="false" aria-controls="nonElementSelectors">Non-element Selectors</a></h3>
        <div class="collapse" id="nonElementSelectors">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssInlineLayoutModuleLevel3" aria-expanded="false" aria-controls="cssInlineLayoutModuleLevel3">CSS Inline Layout Module Level 3</a></h3>
        <div class="collapse" id="cssInlineLayoutModuleLevel3">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#motionPathModuleLevel1" aria-expanded="false" aria-controls="motionPathModuleLevel1">Motion Path Module Level 1</a></h3>
        <div class="collapse" id="motionPathModuleLevel1">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssTextModuleLevel4" aria-expanded="false" aria-controls="cssTextModuleLevel4">CSS Text Module Level 4</a></h3>
        <div class="collapse" id="cssTextModuleLevel4">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssPaintingApiLevel1" aria-expanded="false" aria-controls="cssPaintingApiLevel1">CSS Painting API Level 1</a></h3>
        <div class="collapse" id="cssPaintingApiLevel1">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssPropertiesValuesApiLevel1" aria-expanded="false" aria-controls="cssPropertiesValuesApiLevel1">CSS Properties and Values API Level 1</a></h3>
        <div class="collapse" id="cssPropertiesValuesApiLevel1">
          <div class="well">
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssColorModuleLevel4" aria-expanded="false" aria-controls="cssColorModuleLevel4">CSS Color Module Level 4</a></h3>
        <div class="collapse" id="cssColorModuleLevel4">
          <div class="well">
          </div>
        </div>
      </li>
    </ul>
  </section>

<%- contentFor('pageName') %>
cssExploringExamples

<%- contentFor('cssExploringExamples') %>
active
