  <section class="container-fluid main-content">
    <h2>CSS3 "Revising" Examples</h2>
    <p>Below are examples of "Revising" CSS (from <a href="https://www.w3.org/Style/CSS/current-work" target="demo_window">https://www.w3.org/Style/CSS/current-work</a>).</p>
    <ul class="bulleted">
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssPagedMediaLevel3" aria-expanded="false" aria-controls="cssPagedMediaLevel3">CSS Paged Media Level 3</a></h3>
        <div class="collapse in" id="cssPagedMediaLevel3">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssOverflowModuleLevel3" aria-expanded="false" aria-controls="cssOverflowModuleLevel3">CSS Overflow Module Level 3</a></h3>
        <div class="collapse" id="cssOverflowModuleLevel3">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssDisplayModuleLevel3" aria-expanded="false" aria-controls="cssDisplayModuleLevel3">CSS Display Module Level 3</a></h3>
        <div class="collapse" id="cssDisplayModuleLevel3">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssScrollSnapModuleLevel1" aria-expanded="false" aria-controls="cssScrollSnapModuleLevel1">CSS Scroll Snap Module Level 1</a></h3>
        <div class="collapse" id="cssScrollSnapModuleLevel1">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

<%- contentFor('pageName') %>
cssRevisingExamples

<%- contentFor('cssRevisingExamples') %>
active
