  <section class="container-fluid main-content">
    <h2>CSS3 "Refining" Examples</h2>
    <p>Below are examples of "Refining" CSS (from <a href="https://www.w3.org/Style/CSS/current-work" target="demo_window">https://www.w3.org/Style/CSS/current-work</a>).</p>
    <ul class="bulleted">
      <li class="css-animations">
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssAnimations" aria-expanded="false" aria-controls="cssAnimations">CSS Animations</a></h3>
        <div class="collapse in" id="cssAnimations">
          <div class="well">
            <p class="button-wrapper"><button onclick="animateMe();">Click to see this animate</button></p>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssTransforms" aria-expanded="false" aria-controls="cssTransforms">CSS Transforms</a></h3>
        <div class="collapse" id="cssTransforms">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssTransitions" aria-expanded="false" aria-controls="cssTransitions">CSS Transitions</a></h3>
        <div class="collapse" id="cssTransitions">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssCascadingVariables" aria-expanded="false" aria-controls="cssCascadingVariables">CSS Cascading Variables</a></h3>
        <div class="collapse" id="cssCascadingVariables">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
      <li>
        <h3><a href="javascript:;" data-toggle="collapse" data-target="#cssBoxAlignmentModuleLevel3" aria-expanded="false" aria-controls="cssBoxAlignmentModuleLevel3">CSS Box Alignment Module Level 3</a></h3>
        <div class="collapse" id="cssBoxAlignmentModuleLevel3">
          <div class="well">
            <p>Placeholder</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

<%- contentFor('pageName') %>
cssRefiningExamples

<%- contentFor('cssRefiningExamples') %>
active
