  <section class="container-fluid">
    <h2>HTML5 Form Example</h2>
    <p>This following form contains some of the new HTML5 form fields and has validation for the form. Try out the form to see what the fields do. Don't hesitate to submit the form. It will not go anywhere.
    <form submit="return false;">
      <ol>
        <li><input type="text" placeholder="Your name" /></li>
        <li><input type="number" placeholder="Your age" /></li>
        <li>1<input type="range" min="1" max="100" />100</li>
        <li><input type="email" placeholder="Your email address" /></li>
        <li><input type="" placeholder="" /></li>
        <li><input type="" placeholder="" /></li>
        <li><input type="" placeholder="" /></li>
        <li><input type="" placeholder="" /></li>
      </ol>
    </form>
    <form submit="return false;">
      <input type="search" placeholder="Search for something" />
    </form>
    <ul>
      <li>
        <a href="" target=""></a>
      </li>
    </ul>
  </section>

<%- contentFor('pageName') %>
ExampleForm
