  <section class="container-fluid">
    <h2>HTML srcset & svg Examples</h2>
    <section class="container-fluid">
      <h3>srcset</h3>
      <p>Make your browser wider or narrower to see the pictures change using the "source" element with the "srcset" attribute.</p>
      <picture>
        <source srcset="/img/wasatch-mountain-state-park-woods.jpg" media="(min-width: 600px)">
        <img src="/img/casual-me.jpg" alt="Just a picture of me">
      </picture>

      <p>Making your browser wider/narrower or zooming the browser in/out will change the pictures using the "source" element with the "srcset" attribute and pixel density specifications.</p>
      <picture>
        <source media="(min-width: 650px)" srcset="/img/html-css/IMG_2054.jpg,
                  /img/html-css/IMG_2156.jpg 1.5x,
                  /img/html-css/IMG_2231.jpg 2x">
        <img src="/img/html-css/IMG_2458.jpg" alt="fallback photo">
      </picture>

      <p>If your browser supports a webp image, you will see a grayscale photo of a sign made of rocks, otherwise, you will see the entrance sign to Kolob Canyon in Zion National Park.</p>
      <picture>
        <source type="image/webp" srcset="/img/html-css/IMG_2651.webp">
        <!-- img tag for browsers that do not support picture element -->
        <img src="/img/html-css/IMG_2663.jpg" alt="Kolob Canyon Sign">
      </picture>

      <h3>SVG Examples</h3>
      <ol>
        <li><img src="/img/html-css/star.svg"> (used as img src)</li>
        <li><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIiB2aWV3Qm94PSIwIDAgMjAwIDIwMCI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogIzAwMDEwMjsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGlkPSJQb2x5Z29uXzEiIGRhdGEtbmFtZT0iUG9seWdvbiAxIiBjbGFzcz0iY2xzLTEiIGQ9Ik0xNDkuOTIyLDIwMC4wMTVMOTkuOTU3LDE0Ni45OSw0OS45MjQsMTk5LjkzbDE0LjgtNzYuNDYzTC0wLjAxLDk5LjkyLDY0Ljc1Myw3Ni40ODMsNTAuMDUyLS4wMDUsMTAwLjAxNyw1My4wMiwxNTAuMDQ5LDAuMDhsLTE0LjgsNzYuNDYyLDY0LjczMywyMy41NDctNjQuNzYzLDIzLjQzN1oiLz4KPC9zdmc+Cg=="> (used as a data-uri)</li>
        <li><span class="starImg"></span> (used as background CSS img)</li>
        <li><span class="starDataUri"></span> (used as background CSS data-uri)</li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
            <defs>
              <style>
                .cls-1 {
                  fill: #000102;
                  fill-rule: evenodd;
                }
              </style>
            </defs>
            <path id="Polygon_1" data-name="Polygon 1" class="cls-1" d="M149.922,200.015L99.957,146.99,49.924,199.93l14.8-76.463L-0.01,99.92,64.753,76.483,50.052-.005,100.017,53.02,150.049,0.08l-14.8,76.462,64.733,23.547-64.763,23.437Z"/>
          </svg> (used as inline HTML element)
        </li>
        <li><img src="/img/html-css/star-optimized.svg"> (optimized SVG--365 bytes vs. 442 bytes)</li>
        <li class="color">
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" class="spin">
            <defs>
              <style>
                .cls-2 {
                  fill: #000102;
                  fill-rule: evenodd;
                }
              </style>
            </defs>
            <path id="Polygon_2" data-name="Polygon 2" class="cls-2" d="M149.922,200.015L99.957,146.99,49.924,199.93l14.8-76.463L-0.01,99.92,64.753,76.483,50.052-.005,100.017,53.02,150.049,0.08l-14.8,76.462,64.733,23.547-64.763,23.437Z"/>
          </svg>
          (CSS to alter styling of a region & animate)
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
            <defs>
              <filter id="gaussianBlur" x="0" y="0">
              <feGaussianBlur in="SourceGraphic" stdDeviation="10"/>
              </filter>
              <style>
                .cls-3 {
                  fill: #000102;
                  fill-rule: evenodd;
                  filter:url(#gaussianBlur);
                }
              </style>
            </defs>
            <path id="Polygon_3" data-name="Polygon 3" class="cls-3" d="M149.922,200.015L99.957,146.99,49.924,199.93l14.8-76.463L-0.01,99.92,64.753,76.483,50.052-.005,100.017,53.02,150.049,0.08l-14.8,76.462,64.733,23.547-64.763,23.437Z"/>
          </svg>
          (Using an SVG filter--Gaussian Blur)
        </li>
      </ol>
    </section>
  </section>

<%- contentFor('pageName') %>
scrsetSVGExamples
