ol, ul {
  list-style: none;
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

.portfolio-app header {
/*  background: url("../img/portfolio-logo.jpg") no-repeat;*/
  background-position: 490px 0;
  background-size: 100px;
  height: 200px;
}

.portfolio-app h1 {
  font-family: arial, sans-serif;
}

body.portfolio-app {
/*  background: url("../img/portfolio-background.jpg");*/
  background-color: transparent;
  background-position: -160px -300px;
  margin: 16px;
  padding-bottom: 40px;
}

.portfolio-app ul.bulleted {
  list-style: initial;
}

.portfolio-app ul.bulleted li {
  margin: 0 0 20px 20px;
}

.portfolio-app footer {
  color: #bfbfbf;
  margin-top: 90px;
}

.portfolio-app .img-wrapper.right {
  float: right;
}

/* Start form-example page */
.portfolio-app form {
  margin-bottom: 60px;
}

.portfolio-app form li {
  display: table-row;
  margin-bottom: 12px;
}

.portfolio-app form li label {
  display: table-cell;
  padding-right: 12px;
  text-align: right;
  width: 16%;
}

.portfolio-app form li input {
  display: table-cell;
  margin-bottom: 12px;
  width: 74%;
}
/* End form-example page */

/* Begin srcset-svg page */
.portfolio-app.scrsetSVGExamples ol li {
  margin-bottom: 12px;
}

.portfolio-app.scrsetSVGExamples picture {
  display: block;
  margin-bottom: 60px;
}

.portfolio-app.scrsetSVGExamples .starImg {
  background: url("/img/html-css/star.svg") no-repeat;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.portfolio-app.scrsetSVGExamples .starDataUri {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIiB2aWV3Qm94PSIwIDAgMjAwIDIwMCI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogIzAwMDEwMjsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGlkPSJQb2x5Z29uXzEiIGRhdGEtbmFtZT0iUG9seWdvbiAxIiBjbGFzcz0iY2xzLTEiIGQ9Ik0xNDkuOTIyLDIwMC4wMTVMOTkuOTU3LDE0Ni45OSw0OS45MjQsMTk5LjkzbDE0LjgtNzYuNDYzTC0wLjAxLDk5LjkyLDY0Ljc1Myw3Ni40ODMsNTAuMDUyLS4wMDUsMTAwLjAxNyw1My4wMiwxNTAuMDQ5LDAuMDhsLTE0LjgsNzYuNDYyLDY0LjczMywyMy41NDctNjQuNzYzLDIzLjQzN1oiLz4KPC9zdmc+Cg==") no-repeat;
  display: inline-block;
  height: 200px;
  width: 200px;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.portfolio-app .spin {
  -ms-animation: spin 1s linear 0s 10 alternate;
  -moz-animation: spin 1s linear 0s 10 alternate;
  -o-animation: spin 1s linear 0s 10 alternate;
  -webkit-animation: spin 1s linear 0s 10 alternate;
  animation: spin 1s linear 0s 10 alternate;
}

.portfolio-app .color .cls-2 {
  fill: red;
}
/* End srcset-svg page */

/* Begin Device access page */
.portfolio-app .battery-supported.hide,
.portfolio-app .vibrate-supported span.vibrate {
  display: none;
}
.portfolio-app .vibrate-supported span.vibrate.vibrating {
  display: block;
}

.portfolio-app .device-access.light-theme {
  background-color: #fff;
  color: #333;
}

.portfolio-app .device-access.light-theme button {
  background-color: inherit;
  color: inherit;
}

.portfolio-app .device-access.dark-theme {
  background-color: #000;
  color: #fff;
}

.portfolio-app .device-access.dark-theme button {
  background-color: inherit;
  color: inherit;
}
/* End Device access page */

/* Begin examples-css3-stable page */
.portfolio-app .linear-gradient li,
.portfolio-app .border-example li {
  display: flex;
  justify-content: space-between;
}

.portfolio-app .border-example li {
  justify-content: flex-start;
}

.portfolio-app .linear-gradient span,
.portfolio-app .border-example span {
  background: #dfdfdf;
  display: block;
  height: 160px;
  text-align: center;
  width: 160px;
}

.portfolio-app .linear-gradient span p,
.portfolio-app .border-example span p {
  padding-top: 40%;
  font-weight: bold;
}

.portfolio-app .linear-gradient .top-to-bottom {
  background: linear-gradient(blue, yellow);
}

.portfolio-app .linear-gradient .left-to-right {
  background: linear-gradient(to right, blue, yellow);
}

.portfolio-app .linear-gradient .diagonal-to-right {
  background: linear-gradient(to bottom right, blue, yellow);
}

.portfolio-app .linear-gradient .angle {
  background: linear-gradient(25deg, blue, yellow);
}

.portfolio-app .linear-gradient .multiple-stops {
  background: linear-gradient(red, yellow, blue);
}

.portfolio-app .border-example li span {
  margin-right: 100px;
}

.portfolio-app .border-example li .rounded-corners-color {
  background-color: yellow;
  border-radius: 20px;
}

.portfolio-app .border-example li span.oval {
  background: none;
  border: 4px solid blue;
  border-radius: 50%;
  height: 100px;
  margin-top: 30px;
}

.portfolio-app .border-example li span.oval p {
  padding-top: 24%;
}

.portfolio-app .border-example li .circle {
  background: url('/img/casual-me.jpg') 50% no-repeat;
  background-size: 180px;
  border-radius: 100%;
}

.portfolio-app .border-example li span.circle p {
  padding-top: 100%;
}

.portfolio-app .too-small {
  display: none;
}

.portfolio-app .multicolumns {
  column-count: 3;
  column-gap: 20px;
  column-rule: 1px solid #000;
}

.portfolio-app .multicolumns li {
  vertical-align: top;
}

.portfolio-app .rem-example {
  font-size: 1.6rem;
}

.portfolio-app .cascading-inheritance {
  color: blue;
  font-size: 18px;
}

.portfolio-app .cascading-inheritance .initial-value {
  color: initial;
}

.portfolio-app .cascading-inheritance .inherit-value {
  font-size: inherit;
}

.portfolio-app .cascading-inheritance .all-property {
  all: initial;
}
/* End examples-css3-stable page */

/* Start examples-css3-stable page */
@media screen and (max-width: 300px) {
  body.portfolio-app.cssStableExamples {
    width: 100px;
  }

  body.portfolio-app .main-content {
    display: none;
  }

  body.portfolio-app .too-small {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    left: 50%;
    position: absolute;
    height: 200px;
    top: 0;
    width: 200px;
  }

  body.portfolio-app .too-small p {
    color: #fff;
    display: block;
    margin-top: 30%;
    text-align: center;
    font-size: 26px;
  }
}

@media print {
  body.portfolio-app.cssStableExamples {
    width: 100px;
  }
}
/* End examples-css3-stable page */

/* Start examples-css3-testing page */
.portfolio-app.cssTestingExamples .text-decoration-dashed-red a {
  text-decoration: underline dashed red;
}

.portfolio-app.cssTestingExamples .text-decoration-dotted-green a {
  text-decoration: underline dotted green;
}

.portfolio-app.cssTestingExamples .vertical-rl {
  writing-mode: vertical-rl;
}

.portfolio-app.cssTestingExamples .vertical-lr {
  writing-mode: vertical-lr;
}

.portfolio-app.cssTestingExamples .left-shape-outside span {
  float: left;
  height: 5rem;
  shape-outside: polygon(0 0, 100% 100%, 0 100%);
  width: 2rem;
}

.portfolio-app.cssTestingExamples .left-shape-outside p {
  width: 40%;
}

.portfolio-app.cssTestingExamples .left-right-shape-outside {
  width: 40%;
}

.portfolio-app.cssTestingExamples .left-right-shape-outside p {
  text-align: center;
}

.portfolio-app.cssTestingExamples .left-right-shape-outside .left-shape,
.portfolio-app.cssTestingExamples .left-right-shape-outside .right-shape {
  height: 6rem;
  width: 8rem;
}

.portfolio-app.cssTestingExamples .left-right-shape-outside .left-shape {
  float: left;
  shape-outside: polygon(0 0, 100% 100%, 0 100%);
}

.portfolio-app.cssTestingExamples .left-right-shape-outside .right-shape {
  float: right;
  shape-outside: polygon(100% 0, 100% 100%, 0 100%);
}

.portfolio-app.cssTestingExamples .circle-shape {
  width: 35%;
}

.portfolio-app.cssTestingExamples .circle-shape .left-shape {
  float: left;
  height: 10rem;
  shape-outside: circle(50%);
  width: 9rem;
}

.portfolio-app.cssTestingExamples .circle-shape-image {
  width: 35%;
}

.portfolio-app.cssTestingExamples .circle-shape-image .left-shape {
  float: left;
  shape-image-threshold: 0.1;
  shape-margin: 0.857rem;
  shape-outside: url("/img/html-css/oscar-with-glasses.png");
}

.portfolio-app.cssTestingExamples .mask-image img {
  -webkit-mask-box-image: url(/img/html-css/star.svg) 35 repeat;
  /*-webkit-mask: url(/img/html-css/star.jpg) top left / cover;*/
}

@counter-style footnote {
  system: symbolic;
  symbols: '*' ⁑ † ‡;
  suffix: " ";
}

.portfolio-app.cssTestingExamples .footnote-list li {
  list-style: footnote;
}

.portfolio-app.cssTestingExamples .box-decoration-break li.block-example span,
.portfolio-app.cssTestingExamples .box-decoration-break li.inline-example span {
  background: gray;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: -5px -5px 5px 0px blue;
  line-height: 86px;
  margin: 12px;
  padding: 24px;
}

.portfolio-app.cssTestingExamples .box-decoration-break li.block-example span {
  line-height: 12px;
}

.portfolio-app.cssTestingExamples .box-decoration-break li.block-example {
  columns: 3;
  line-height: 20px;
}

.portfolio-app.cssTestingExamples .box-decoration-break li.block-example span {
  display: block;
}

.portfolio-app.cssTestingExamples .box-decoration-break li.inline-example.clone span,
.portfolio-app.cssTestingExamples .box-decoration-break li.block-example.clone span {
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.portfolio-app.cssTestingExamples .explicit-grid .grid-template {
  align-content: start;
  display: grid;
  grid-gap: 10px 15px;
  grid-template-columns: 70px 80% 70px;
  grid-template-rows: 10% 60% 30%;
  grid-template-areas: "topLeft top topRight"
                       "middleLeft middle middleRight"
                       "bottomLeft bottom bottomRight";
  width: 90%;
}

.portfolio-app.cssTestingExamples .explicit-grid div {
  color: #fff;
  padding: 10px 12px;
}

.portfolio-app.cssTestingExamples .explicit-grid .top-left {
  background-color: blue;
  grid-area: topLeft;
}

.portfolio-app.cssTestingExamples .explicit-grid .top {
  background-color: green;
  grid-area: top;
}

.portfolio-app.cssTestingExamples .explicit-grid .top-right {
  background-color: purple;
  grid-area: topRight;
}

.portfolio-app.cssTestingExamples .explicit-grid .middle-left {
  background-color: red;
  grid-area: middleLeft;
}

.portfolio-app.cssTestingExamples .explicit-grid .middle {
  background-color: gray;
  grid-area: middle;
}

.portfolio-app.cssTestingExamples .explicit-grid .middle-right {
  background-color: silver;
  grid-area: middleRight;
}

.portfolio-app.cssTestingExamples .explicit-grid .bottom-left {
  background-color: black;
  grid-area: bottomLeft;
}

.portfolio-app.cssTestingExamples .explicit-grid .bottom {
  background-color: orange;
  grid-area: bottom;
}

.portfolio-app.cssTestingExamples .explicit-grid .bottom-right {
  background-color: gray;
  grid-area: bottomRight;
}

.portfolio-app.cssTestingExamples .explicit-grid .grid-repeat {
  align-content: start;
  display: grid;
  grid-gap: 10px 15px;
  grid-template-columns: repeat(3, 70px [col-start]) 5%;
  grid-template-rows: auto;
  grid-template-areas: "topLeft top topRight"
                       "middleLeft middle middleRight"
                       "bottomLeft bottom bottomRight";
  width: 90%;
}

.portfolio-app.cssTestingExamples .explicit-grid .grid-template-page {
  align-content: start;
  display: grid;
  grid-gap: 10px 15px;
  grid-template-columns: 80% 70px;
  grid-template-rows: 10% 60% 30%;
  grid-template-areas: "header header"
                       "body sidebarRight"
                       "footer footer";
  width: 90%;
}

.portfolio-app.cssTestingExamples .explicit-grid .grid-template-page div {
  color: #fff;
  padding: 10px 12px;
}

.portfolio-app.cssTestingExamples .explicit-grid .grid-template-page .header {
  background-color: blue;
  grid-area: header;
}

.portfolio-app.cssTestingExamples .explicit-grid .grid-template-page .body {
  background-color: green;
  grid-area: body;
}

.portfolio-app.cssTestingExamples .explicit-grid .grid-template-page .sidebar-right {
  background-color: purple;
  grid-area: sidebarRight;
}

.portfolio-app.cssTestingExamples .explicit-grid .grid-template-page .footer {
  background-color: red;
  grid-area: footer;
}
/* End examples-css3-testing page */

/* Start examples-css3-refining page */
/* The animation code */
@keyframes animation-example {
  0% {transform: rotate(0deg);left: 0;top: 0;}
  25% {transform: rotate(20deg);left:0;top: 20px;}
  50% {transform: rotate(40deg);left: 100px;top: 100px;}
  55% {transform: rotate(-60deg);left: 150px;top: 150px;}
  70% {transform: rotate(30deg);left: 200px;top: 170px;}
  100% {transform: rotate(-360deg);left: 0px;top: 0;}
}

/* The element to apply the animation to */
.portfolio-app.cssRefiningExamples .button-wrapper button,
.portfolio-app.cssRefiningExamples .target-element {
  height: 100px;
  left: 0;
  position: relative;
  top: 0;
  width: 100px;
}

.portfolio-app.cssRefiningExamples .css-animations .animate-me {
  animation-duration: 4s;
  animation-name: animation-example;
}

.portfolio-app.cssRefiningExamples .explanation {
  width: 500px;
}

.portfolio-app.cssRefiningExamples .target-element {
  background-color: yellow;
  border: 1px solid black;
  padding-top: 12px;
  text-align: center;
}

.portfolio-app.cssRefiningExamples .css-transforms .target-element {
  transform: rotate(30deg);
  transform: scale(2, 2);
  transform: skew(20deg, 10deg);
}

.portfolio-app.cssRefiningExamples .css-transforms .target-element.three-d {
  background-color: orange;
  transform: rotate3d(10, 20, 30, 30deg);
}

.portfolio-app.cssRefiningExamples .css-transitions .target-element {
  transition: width 2s;
}

.portfolio-app.cssRefiningExamples .css-transitions .target-element:hover {
  width: 300px;
}

:root {
  --heading-color: green;
  --paragraph-color: red;
}

.portfolio-app.cssRefiningExamples .cascading-variables h3 a {
  color: var(--heading-color, blue);
}

.portfolio-app.cssRefiningExamples .cascading-variables p {
  color: var(--paragraph-color, black);
  background-color: var(--paragraph-background-color, yellow);
}

.portfolio-app.cssRefiningExamples .box-alignment .well ul {
  align-content: space-between;
  display: flex;
  justify-content: space-between;
}

.portfolio-app.cssRefiningExamples .box-alignment .well li {
  border: 1px solid black;
  display: flex;
  height: 200px;
  justify-content: center;
  text-align: center;
  width: 200px;
}

.portfolio-app.cssRefiningExamples .box-alignment .well li::marker {
  font-variant-numeric: tabular-nums;
}

.portfolio-app.cssRefiningExamples .box-alignment .well li:first-child p {
}

.portfolio-app.cssRefiningExamples .box-alignment .well li:nth-child(2) {
  align-items: center;
}

.portfolio-app.cssRefiningExamples .box-alignment .well li:last-child {
  align-items: flex-end;
}
/* End examples-css3-refining page */

/* Start examples-css3-revising page */
@media print {
  @page :left {
    margin: 3cm 8cm 3cm 3cm;
  }

  @page :right {
    margin: 3cm 3cm 3cm 8cm;
  }
}

.portfolio-app.cssRevisingExamples .css-selectors li:not(.ignore-me) {
  color: blue;
  background-color: orange;
}

.portfolio-app.cssRevisingExamples .well {
  overflow: hidden;
}

.portfolio-app.cssRevisingExamples .well button {
  margin-bottom: 26px;
}

.portfolio-app.cssRevisingExamples .example {
  height: 80px;
  width: 200px;
}

.portfolio-app.cssRevisingExamples .overflow-hidden {
  overflow: hidden;
}

.portfolio-app.cssRevisingExamples .overflow-clip {
  overflow: clip;
}

.portfolio-app.cssRevisingExamples .display-module .example {
  background-color: blue;
  display: block;
  height: 100px;
  width: 100px;
}

.portfolio-app.cssRevisingExamples .css-pseudo-elements input:placeholder-shown {
  background-color: #000;
  font-family: serif;
}
/* End examples-css3-revising page */


/* Start examples-css3-exploring page */
.portfolio-app.cssExploringExamples .filter-effects p {
/*  text-align: right;
  width: 200px;*/
}

.portfolio-app.cssExploringExamples .filter-effects img {
}

.portfolio-app.cssExploringExamples .filter-effects .grayscale img {
  filter: grayscale(100%);
}

.portfolio-app.cssExploringExamples .filter-effects .grayscale-50 img {
  filter: grayscale(50%);
}

.portfolio-app.cssExploringExamples .filter-effects .blur img {
  filter: blur(2px);
}

.portfolio-app.cssExploringExamples .filter-effects .invert img {
  filter: invert(100%);
}

.portfolio-app.cssExploringExamples .filter-effects .sepia img {
  filter: sepia(100%);
}

body.portfolio-app.cssExploringExamples {
  counter-reset: example; /* Creates a example counter scope */
}

.portfolio-app.cssExploringExamples li.page-floats div.well {
  float: left;
}

.portfolio-app.cssExploringExamples li.page-floats + li {
  clear: both;
}

.portfolio-app.cssExploringExamples .generated-content .examples p:before {
  content: "Example " counter(example) ". ";
  counter-increment: example;  /* Add 1 to example */
}

.portfolio-app.cssExploringExamples .page-floats li {
  width: 30%;
}

.portfolio-app.cssExploringExamples .page-floats .ltr {
  direction: ltr;
}

.portfolio-app.cssExploringExamples .page-floats .rtl {
  direction: rtl;
}

.portfolio-app.cssExploringExamples .page-floats li:first-child {
  float: inline-start;
}

.portfolio-app.cssExploringExamples .page-floats li:nth-child(2) {
  float: inline-start;
}

.portfolio-app.cssExploringExamples .page-floats li:last-child {
  float: inline-end;
}

/* No browser support yet */
/*.portfolio-app.cssExploringExamples .line-grid p {
  line-height: 30px;
  text-decoration: underline;
  width: 200px;
}

.portfolio-app.cssExploringExamples .line-grid .line-snap {
  line-snap: baseline;
}*/

/* No browser support yet */
/*.portfolio-app.cssExploringExamples .list-items li:marker {
  content: "(" counter(list-item, lower-roman) ")";
}

.portfolio-app.cssExploringExamples .list-items li {
  display: list-item;
}*/

.portfolio-app.cssExploringExamples .positioned-layout .well p.example {
  background-color: yellow;
  height: 120px;
  text-align: center;
  width: 120px;
}


.portfolio-app.cssExploringExamples .positioned-layout .well p.example.sticky {
  background-color: purple;
  color: white;
  position: sticky;
  top: 10px;
}

/*.portfolio-app.cssExploringExamples .css-regions .well #content {
  flow-into: myFlow;
}

.portfolio-app.cssExploringExamples .css-regions .well .region {
  flow-from: myFlow;
}*/

.portfolio-app.cssExploringExamples .non-element-selectors .examples .highlight-green::selection {
  background-color: green;
  color: white;
}

.portfolio-app.cssExploringExamples .non-element-selectors .examples .highlight-yellow::selection {
  background-color: yellow;
  color: black;
}

.portfolio-app.cssExploringExamples .inline-layout-module .examples .hanging {
  dominant-baseline: hanging;
}

.portfolio-app.cssExploringExamples .inline-layout-module .examples .text-after-edge {
}

.portfolio-app.cssExploringExamples .inline-layout-module .examples .text-before-edge {
}
/* End examples-css3-exploring page */
