ol, ul {
  list-style: none;
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

.portfolio-app header {
/*  background: url("../img/portfolio-logo.jpg") no-repeat;*/
  background-position: 490px 0;
  background-size: 100px;
  height: 200px;
}

.portfolio-app h1 {
  font-family: arial, sans-serif;
}

body.portfolio-app {
/*  background: url("../img/portfolio-background.jpg");*/
  background-color: transparent;
  background-position: -160px -300px;
  margin: 16px;
  padding-bottom: 40px;
}

.portfolio-app ul.bulleted {
  list-style: initial;
}

.portfolio-app ul.bulleted li {
  margin: 0 0 20px 20px;
}

.portfolio-app footer {
  color: #bfbfbf;
  margin-top: 90px;
}

.portfolio-app .img-wrapper.right {
  float: right;
}

.portfolio-app form {
  margin-bottom: 60px;
}

.portfolio-app form li {
  display: table-row;
  margin-bottom: 12px;
}

.portfolio-app form li label {
  display: table-cell;
  padding-right: 12px;
  text-align: right;
  width: 16%;
}

.portfolio-app form li input {
  display: table-cell;
  margin-bottom: 12px;
  width: 74%;
}

.portfolio-app.scrsetSVGExamples ol li {
  margin-bottom: 12px;
}

.portfolio-app.scrsetSVGExamples picture {
  display: block;
  margin-bottom: 60px;
}

.portfolio-app.scrsetSVGExamples .starImg {
  background: url("/img/html-css/star.svg") no-repeat;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.portfolio-app.scrsetSVGExamples .starDataUri {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIiB2aWV3Qm94PSIwIDAgMjAwIDIwMCI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogIzAwMDEwMjsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGlkPSJQb2x5Z29uXzEiIGRhdGEtbmFtZT0iUG9seWdvbiAxIiBjbGFzcz0iY2xzLTEiIGQ9Ik0xNDkuOTIyLDIwMC4wMTVMOTkuOTU3LDE0Ni45OSw0OS45MjQsMTk5LjkzbDE0LjgtNzYuNDYzTC0wLjAxLDk5LjkyLDY0Ljc1Myw3Ni40ODMsNTAuMDUyLS4wMDUsMTAwLjAxNyw1My4wMiwxNTAuMDQ5LDAuMDhsLTE0LjgsNzYuNDYyLDY0LjczMywyMy41NDctNjQuNzYzLDIzLjQzN1oiLz4KPC9zdmc+Cg==") no-repeat;
  display: inline-block;
  height: 200px;
  width: 200px;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.portfolio-app .spin {
  -ms-animation: spin 1s linear 0s 10 alternate;
  -moz-animation: spin 1s linear 0s 10 alternate;
  -o-animation: spin 1s linear 0s 10 alternate;
  -webkit-animation: spin 1s linear 0s 10 alternate;
  animation: spin 1s linear 0s 10 alternate;
}

.portfolio-app .color .cls-2 {
  fill: red;
}

.portfolio-app .vibrate-supported span.vibrate {
  display: none;
}
.portfolio-app .vibrate-supported span.vibrate.vibrating {
  display: block;
}
